.leaflet-container {
  height: 100%;
  position: relative; }

.map-block-leaflet-header {
  width: 100%;
  max-width: 32rem;
  margin: 0 0 .5rem;
  position: absolute;
  pointer-events: none;
  z-index: 9999;
  opacity: 0;
  transition: opacity .25; }

.is-map-block-leaflet-selected {
  pointer-events: all;
  position: relative;
  opacity: 1; }

.map_block_leaflet a {
  text-decoration: none; }
