

.algolia-places {
    z-index: 9999;
    margin-bottom: 1rem;
  }
.map-block-leaflet-list-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: .85rem;
  align-items: center;
  padding: .5rem 0;
}
.map-block-leaflet-list-item-action {
  display: flex;
  padding-top: .25rem;
}
.map-block-leaflet-list-item-action > *:not(:last-child) {
  margin-right: .5rem;
}