.leaflet-container {
    height: 300px;
    position: relative;
}
.leaflet-map-block-header {
    position: absolute;
    z-index: 500;
    width: 100%;
    max-width: 32rem;
    margin: 0 auto;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
}
.-is-leaflet-map-selected input {
    box-shadow: rgba(0,0,0,.2) 0 13px 25px
}
.-is-leaflet-map-selected {
    pointer-events:all;
    transform: translateY(calc(-100% - 2px));
    opacity: 1;
}