$blue: #00a0d2;
$dark-blue: #4f5969;
$dark-gray: #191e23;
$gray: #555d66;
$light-gray: #f8f9f9;

.leaflet-container {
    height: 100%;
    position: relative;
}
.map-block-leaflet-header{
    width: 100%;
    max-width: 32rem;
    margin: 0 0 .5rem;
    position: absolute;
    pointer-events: none;
    z-index: 9999;
    opacity: 0;
    transition: opacity .25;
}

.is-map-block-leaflet-selected {
    pointer-events:all;
    position: relative;
    opacity: 1;
}

.map_block_leaflet a {
    text-decoration: none;
}

.resizable-handle {
    pointer-events: none;
    position: absolute;
    user-select: none;
    bottom: -8px;
    left: calc(50% - 8px);
    width: 16px;
    height: 16px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: $blue;
    box-sizing: border-box;
    z-index: 999;
}

// theme picker 
.theme-picker-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 8px;
}


.theme-picker-button {
        padding: 4px;
        overflow: hidden;
        color: inherit;
        cursor: pointer;
        background: none;
        border: none;
        border-radius: 4px;

        &:hover {
            color: $dark-gray;
            background: $light-gray;
        }

        &[aria-pressed="true"] {
            color: $dark-gray;
            outline: 2px solid transparent;
            outline-offset: -2px;
            box-shadow: 0 0 0 2px $gray;
        }

        &:focus {
            color: $dark-gray;
            outline: 2px solid transparent;
            outline-offset: -2px;
            box-shadow: 0 0 0 2px $blue;
        }

        img {
            display: block;
            border: 1px solid rgba( $dark-blue, .2 );
            border-radius: 4px;
            outline: 1px solid transparent;
        }

    }
    .theme-picker-name-button {
        padding: 2px;
        text-align: center;
    }
